<div class="container">
  <div id="header">
    <h1>Stupid Coaching</h1>
  </div>

  <div id="question">
    <%= params[:question] %>
    <h4><i>-You</i></h4>
  </div>
  
  <div id="answer">
    <%= @answer %>
    <h4><i>-Your coach</i></h4>
  </div>
  
  <div id="reload">
    <%= link_to "Ask a new question", '/ask' %>
  </div>
</div>