<div class="container">
  <div id="header" >
    <h1 class="text-center">Stupid Coaching</h1>
  </div>

  <div id="form">
  <form action="answer"> <%# sends it to the method answer of questions_controllers %>
    <input type="text" name="question">
    <input type="submit" value="Ask!">
  </form>
  </div>
</div>